@import "./../../scss/variables.scss";

.scroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  align-self: center;
}

.scroll__link {
  align-self: center;
  display: flex;
  text-align: center;
  cursor: pointer;
  margin-bottom: 50px; 
  background-image: url("./image/DoubleArrowGrey.png");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.scroll__text {
  align-self: center;
  text-transform: uppercase;
  font-size: 18px;
  font-family: $open-sans;
  margin-top: 80px;
  margin-bottom: 50px;
  color: $font-color-grey;

  &:hover {
    color: $font-color-dark-grey;
  }
}

/*** MEDIA ***/

@media screen and (max-width: $desktop-width) {
  .scroll {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: $tablet-width) {
  .scroll {
    display: none;
  }
}